[Unit]
Description=Intel P-State Performance-Balance Profile

[Service]
Type=oneshot
ExecStart=/usr/local/bin/intel-pstate-helper --governor performance --epp balance_performance --hwp-dynamic-boost 1
RemainAfterExit=yes
