[Unit]
Description=Intel P-State Powersave-Balance Profile

[Service]
Type=oneshot
ExecStart=/usr/local/bin/intel-pstate-helper --governor powersave --epp balance_performance --hwp-dynamic-boost 0
RemainAfterExit=yes
