[Unit]
Description=Intel P-State Performance-Max Profile

[Service]
Type=oneshot
ExecStart=/usr/local/bin/intel-pstate-helper --governor performance --epp performance --hwp-dynamic-boost 1
RemainAfterExit=yes
