[Unit]
Description=Intel P-State Powersave-Performance Profile

[Service]
Type=oneshot
ExecStart=/usr/local/bin/intel-pstate-helper --governor powersave --epp performance --hwp-dynamic-boost 0
RemainAfterExit=yes
